@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v21-latin-700.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v49-latin-700.woff2') format('woff2');
}

:root {
    --background-color: #FFFFFF;
    --primary-text-color: #011c44;
    --brand-color: #2B7FFF;
    --secondary-bcground-color: #747272;




}

/* Base styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: var(--background-color);
    color: var(--primary-text-color);

}

a {
    color: inherit;
    text-decoration: none;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    outline: 1px solid red;

    width: 100%;
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

.is-hidden {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* --------------HERO SECTION---------------- */

.hero {
    /* Для фонового рисунка????? */
    padding-top: 122px;
    padding-bottom: 194px;

    background-image: url(../images/hero-bcground.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-text-color);

    margin-bottom: 16px;
}

.hero-title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 0.81;
    color: var(--brand-color);

    max-width: 529px;
    margin-bottom: 40px;
}

.hero-btn {
    width: 219px;
    height: 53px;
    border-radius: 32px;
    padding: 16px 32px;
    background-color: var(--brand-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: var(--background-color);
    cursor: pointer;
    text-align: center;
    border: none;
    margin-bottom: 14px;
    transition: color .3s, background-color .3s;
}

.hero-btn:hover,
.hero-btn:focus {
    border: 2px solid var(--brand-color);
    background-color: transparent;
    color: var(--primary-text-color);
}

.hero .hero-text-remark {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-text-color);
    max-width: 238px;

}

/* --------------------------ABOUT SECTION----------------- */
.about {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.about-box {
    padding-top: 40px;
}

.about-title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: var(--primary-text-color);

    max-width: 529px;
    padding-bottom: 40px;
}

.about-title span {
    color: var(--brand-color);
}

.about-text {
    font-weight: 400;
    line-height: 1.73;

    padding-bottom: 40px;

}

.about-box .about-text:last-of-type {
    padding-bottom: 0;
}

.about-text span {
    font-weight: 600
}

.about-photo {}



/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1, 31, 74, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity .3s, visibility .3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 681px;
    background-image: url(../images/background-modal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-text-color);
    border-radius: 48px;
    overflow-y: auto;
    ;
}



.modal-close {
    position: absolute;
    top: 42px;
    right: 42px;

    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--primary-text-color);
    color: var(--background-color);
    cursor: pointer;
}

.modal-title {
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--background-color);

    max-width: 435px;
    padding-top: 42px;
    padding-bottom: 40px;
}

.modal-text {
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    color: var(--background-color);

    max-width: 276px;
    padding-bottom: 32px;
}

.modal-text span {
    color: var(--brand-color);

}

.modal-field {
    margin-bottom: 24px;
}

.modal-input {
    padding: 18px 32px;
    background-color: transparent;
    border: 2px solid var(--secondary-bcground-color);
    border-radius: 32px;
    width: 310px;
    margin: 0 auto;
    display: block;


}

.modal-input::placeholder {
    color: var(--background-color);

}

.modal-input:focus {
    background-color: var(--secondary-bcground-color);
    color: var(--background-color);
    outline: none;

}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: var(--background-color);
    width: 100%;
}

.modal-btn {
    display: block;
    margin: 0 auto;
    border-radius: 32px;
    padding: 16px 32px;
    width: 281px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: var(--background-color);
    background-color: var(--brand-color);
    margin-bottom: 8px;
    cursor: pointer;

}

.modal-terms {
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-bcground-color);
    max-width: 213px;
}

.modal-terms-link {
    text-decoration: underline;
}